<div class='large-12 text-center columns'>
  <h1>My DUDE.</h1>
  <h4>You've been my best friend for almost 20 years now.</h4>

  <%= image_tag('1.jpg')%>
  <%= image_tag('2.jpg')%>
  <%= image_tag('3.jpg')%>
  <%= image_tag('4.jpg')%>
  <%= image_tag('5.jpg')%>
  <%= image_tag('6.jpg')%>

  <br />
  <br />
  <br />
  <h1>YOUR SERVICES ARE ONCE AGAIN REQUIRED.</h1>
  <h1>BE MY BEST MAN</h1>
  <br />
  <br />
</div>
