<div class='large-12 text-center columns'>
  <h1>My DUDE.</h1>
  <h4>You've been my best friend for almost 20 years now.</h4>

  <%= image_tag('1.jpg')%>
  <br />
  <%= image_tag('2.jpg')%>
  <br />
  <%= image_tag('3.jpg')%>
  <br />
  <%= image_tag('4.jpg')%>
  <br />
  <%= image_tag('5.jpg')%>
  <br />
  <%= image_tag('6.jpg')%>

  <br />
  <br />
  <br />
  <h1>YOUR SERVICES ARE ONCE AGAIN REQUIRED.</h1>
  <h1>BE MY BEST MAN</h1>
  <%= image_tag('https://instinctmagazine.com/sites/instinctmagazine.com/files/styles/medium/public/images/articles/2013/05/22/L2hvbWUvaW5zdGluY3RtYWdhemluZS9wdWJsaWNfaHRtbC9pbWFnZXMvc3Rvcmllcy9ibG9ncy9tZGVsZ2Fkby9GZWJNYXJfSmFrdWIuanBn.jpg?itok=vAB3wt-N')%>
  <br />
  <br />
</div>
